body {
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100%;
  top:0;
  left: 0;
  z-index: 2;
}

.header-content {
  display: flex;
  padding: 16px 52px;
  justify-content: space-between;
  align-items: center;
  background: #10bbd5;
}

.header-content a {
  color: #f8fdfe;
  font-size: 24px;
  font-weight: 700;
  width: 26px;
  height: 28px;
  cursor: default;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-container p {
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.cart-container button {
  background-color: #10bbd5;
  border: 0;
}

.card {
  position: relative;
  z-index: 2;
}

.card p {
background: white;
width: 5px;
height: 10px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 13px;
left: 27px;
color: #000;
font-size: 12px;
font-weight: 400;
line-height: 10px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 4px 52px;
  background: #fff;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: default;
  white-space: nowrap;
}

.nav-menu-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-container {
  background: #eeeeef;
  justify-content: center;
  align-items: center;
  margin-top: 104px;
}

.main-title {
  width: 1296px;
  color: #1f1f1f;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  padding: 32px 0 23px;
  white-space: nowrap;
  border-bottom: 1px solid #a8a8a8;
  margin-left: 52px;
}

.create-line {
  width: 1296px;
  border-bottom: 1px solid #a8a8a8;
  margin: 0 52px 24px;
}

.product-card-content {
  display: flex;
  width: 1296px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 24px 52px 0;
  flex-wrap: wrap;
  padding-bottom: 112px;
  gap: 24px;
}

.product-card {
  width: 306px;
  height: 512px;
  display: flex;
  padding: 32px;
  flex-direction: column;
  border: 1px solid #a8a8a8;
  justify-content: center;
  margin-bottom: 8px;
  gap:16px;
}

.product-tips {
  width: 242px;
  height: 448px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.tips-discount.first {
  left: 125px;
}

.tips-discount.second {
  left: 465px;
}

.tips-discount.third {
  left: 785px;
}

.tips-discount.third-card {
  left: 795px;
}

.tips-hit,
.tips-new,
.tips-discount,
.tips-discount.first
.tips-discount.second
.tips-discount.third
.tips-discount.third-card {
  position: absolute;
  z-index: 1;
}

.tips-hit,
.tips-new,
.tips-discount,
.tips-discount.first,
.tips-discount.second,
.tips-discount.third,
.tips-discount.third-card {
  display: flex;
  padding: 4px 8px;
  gap: 10px;
  border-radius: 4px;
  background: #4200ff;
}

.tips-new {
  background: #af39e7;
}

.tips-discount,
.tips-discount.first,
.tips-discount.second,
.tips-discount.third,
.tips-discount.third-card {
  background: #ea33c0;
}

.tips-hit span,
.tips-new span,
.tips-discount span,
.tips-discount.first span,
.tips-discount.second span,
.tips-discount.third span,
.tips-discount.third-card span {
  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
}

.tips-hit span {
  width: 20px;
}

.tips-new span {
  width: 31px;
}

.tips-discount span {
  width: 54px;
}

.product-card img { 
  position: relative;
  /* z-index: 2; */
  display: flex;
  width: 178px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 32px;
  cursor: default;
}

.product-information {
  display: flex;
  flex-direction: column;
}

.product-name {
  width: 242px;
  flex-direction: column;
  overflow: hidden;
  color: #1f1f1f;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.product-line {
  width: 242px;
  border-bottom: 1px solid #a8a8a8;
}

.product-author {
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.price-block {
  display: flex;
  gap: 24px;
}

.product-price-red {
  color: #e90000;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.product-price-full {
  color: #8e8e8e;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-decoration: line-through;
}

.add-to-basket,
.end-up-button {
  color: #f8fdfe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 4px;
  background: #4c394e;
  border: none;
  padding: 8px 24px;
  align-self: stretch;
}

.end-up-button {
  border: 1px solid #4d762d;
  background: #4d762d;
}

.chat-button {
  box-sizing: border-box;
  position: fixed;
  border: 0;
  top: 50%;
  right: 28px;
  background-color: transparent;
}

.chat-button img {
  width: 64px;
  height: 64px;
  background-color: #10bbd5;
  border-radius: 50%;
}

.footer {
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: space-between;
  background: #4c394e;
  align-items: center;
}

.footer span {
  color: #f8fdfe;
  font-family: Cabin;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 52px;
}